@{
    ViewData["Title"] = "Home Page";
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Layout = "_Layout";
    }else{
        Layout = "CustomerLayout";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/800px-FPT_logo_2010.svg.png" />
</div>
